Repository saleor/saleor-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Replace plain-docker stack with DevContainers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  README.md
  docker-compose.yaml
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

hints about local development with apps
  docs/developer/running-saleor/managing-apps.mdx
  sidebars/self-hosting.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Update managing-apps.mdx
  docs/developer/running-saleor/managing-apps.mdx
Due: prettier --write --ignore-unknown

improve docs
  docs/developer/running-saleor/managing-apps.mdx
Due: prettier --write --ignore-unknown

Add DevContainers support for editing project locally (#1506)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  README.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

hints about local development with apps (#1512)
  docs/developer/running-saleor/managing-apps.mdx
  sidebars/self-hosting.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Introduce Plugin changes section in upgrade guide
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Update upgrade guides for removing method for manager
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Update upgrade guides for removing method for manager (#1508)
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Update upgrade guide
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Mention the removed plugins
  docs/upgrade-guides/core/3-20-to-3-21.mdx
  src/css/primitives/typography.css
Due: prettier --write --ignore-unknown

Remove explicit version of removing WebhookPlugin
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Remove explicit version of removing WebhookPlugin (#1514)
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Add observability docs
  docs/setup/observability.mdx
Due: prettier --write --ignore-unknown

Update upgrade guide (#1511)
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Drop Jaeger page and mentions of OpenTracing
  docs/developer/community/faq.mdx
  docs/setup/monitoring-jaeger.mdx
  docs/setup/telemetry.mdx
  sidebars/self-hosting.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add AvaTax telemetry docs
  docs/developer/app-store/apps/avatax/telemetry.mdx
Due: prettier --write --ignore-unknown

update docs
  docs/developer/app-store/apps/avatax/configuration.mdx
  docs/developer/app-store/apps/avatax/telemetry.mdx
Due: prettier --write --ignore-unknown

fix broken link
  docs/developer/app-store/apps/avatax/telemetry.mdx
Due: prettier --write --ignore-unknown

fix typo
  docs/developer/app-store/apps/avatax/telemetry.mdx
Due: prettier --write --ignore-unknown

Encourage using apps for gift cards
  docs/developer/gift-cards.mdx
Due: prettier --write --ignore-unknown

Add attributes vs. metadata page
  docs/developer/attributes/attributes_vs_metadata.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Link to metadata
  docs/developer/attributes/attributes_vs_metadata.mdx
Due: prettier --write --ignore-unknown

Update file after a broken merge with main
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Improve order status logic for fulfillments waiting for approval (#1498)
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Add info about audience (#1507)
  docs/api-usage/authentication.mdx
  docs/developer/app-store/plugins/oidc.mdx
Due: prettier --write --ignore-unknown

Fix accidental whitespace
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Upgrading guide with strict token validaion
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Mention the removed plugins (#1513)
  docs/upgrade-guides/core/3-20-to-3-21.mdx
  src/css/primitives/typography.css
Due: prettier --write --ignore-unknown

Add AvaTax telemetry docs (#1517)
  docs/developer/app-store/apps/avatax/configuration.mdx
  docs/developer/app-store/apps/avatax/telemetry.mdx
Due: prettier --write --ignore-unknown

add fulfilment docs
  docs/developer/order/order-fulfillments.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

typo
  docs/developer/order/order-fulfillments.mdx
Due: prettier --write --ignore-unknown

fix links
  docs/developer/order/order-fulfillment.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Update thumbnails.mdx
  docs/developer/thumbnails.mdx
Due: prettier --write --ignore-unknown

Rewrite the GraphQL section of "Why Saleor"
  docs/overview/why-saleor/graphql.mdx
Due: prettier --write --ignore-unknown

Rewrite the GraphQL section of "Why Saleor" (#1522)
  docs/overview/why-saleor/graphql.mdx
Due: prettier --write --ignore-unknown

Update thumbnails.mdx (#1521)
  docs/developer/thumbnails.mdx
Due: prettier --write --ignore-unknown

Update docs/developer/attributes/attributes_vs_metadata.mdx
  docs/developer/attributes/attributes_vs_metadata.mdx
Due: prettier --write --ignore-unknown

Add attributes vs. metadata page (#1519)
  docs/developer/attributes/attributes_vs_metadata.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --cache --fix: any of: *.{js,ts,tsx,jsx}
  prettier --write --ignore-unknown: any of: *
  cspell --no-must-find-files: any of: *.{ts,tsx,md,js,jsx}
