Repository saleor/saleor-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add Pages docs (#1534)
  docs/developer/menu.mdx
  docs/developer/modeling.mdx
  docs/developer/pages.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add image for message
  docs/developer/app-store/apps/adyen/adyen-note-management-api.png
  docs/developer/app-store/apps/adyen/configuration.mdx
Due: prettier --write --ignore-unknown

Update note
  docs/developer/app-store/apps/adyen/configuration.mdx
Due: prettier --write --ignore-unknown

Add note about Adyen API issue
  docs/developer/app-store/apps/adyen/configuration.mdx
Due: prettier --write --ignore-unknown

Add note about Adyen API issue (#1536)
  docs/developer/app-store/apps/adyen/adyen-note-management-api.png
  docs/developer/app-store/apps/adyen/configuration.mdx
Due: prettier --write --ignore-unknown

Community banner
  docusaurus.config.js
  src/css/theme.css
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Community live update banner
  src/css/theme.css
Due: prettier --write --ignore-unknown

Improve the extensibility section of "Why Saleor"
  docs/overview/why-saleor/extensibility.mdx
Due: prettier --write --ignore-unknown

Adding community banner (#1537)
  docusaurus.config.js
  src/css/theme.css
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

document how bulk api works for products, variants and stocks
  docs/developer/bulks/bulk-products.mdx
  docs/developer/bulks/bulk-stock.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

fix link
  docs/developer/bulks/bulk-products.mdx
Due: prettier --write --ignore-unknown

Revert Docusaurus to 3.6.3
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Revert Docusaurus to 3.6.3 (#1540)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Introduce recipes
  components/CompactCard/index.jsx
  docs/recipes/click-and-collect.mdx
  docs/recipes/digital-products.mdx
  docs/recipes/multi-region.mdx
  docs/recipes/overview.mdx
  sidebars.js
  sidebars/recipes.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

make title more welcoming
  docs/developer/community/contributing.mdx
Due: prettier --write --ignore-unknown

make title more welcoming (#1542)
  docs/developer/community/contributing.mdx
Due: prettier --write --ignore-unknown

Update docs/developer/payments/payment-apps.mdx
  docs/developer/payments/payment-apps.mdx
Due: prettier --write --ignore-unknown

Update managing-apps.mdx (#1530)
  docs/developer/running-saleor/managing-apps.mdx
Due: prettier --write --ignore-unknown

Note about available payment gateways (#1527)
  docs/developer/payments/payment-apps.mdx
Due: prettier --write --ignore-unknown

add storefront notion
  docs/developer/pages.mdx
Due: prettier --write --ignore-unknown

move attribute vs. metadata to attributes overview
  docs/developer/attributes/attributes_vs_metadata.mdx
  docs/developer/attributes/overview.mdx
  vercel.json
Due: prettier --write --ignore-unknown

remove from sidebar
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Move attributes vs metadata (#1543)
  docs/developer/attributes/attributes_vs_metadata.mdx
  docs/developer/attributes/overview.mdx
  docs/developer/pages.mdx
  sidebars/core-concepts.js
  vercel.json
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Update promotions.mdx
  docs/developer/discounts/promotions.mdx
Due: prettier --write --ignore-unknown

add .cursor to gitignore
  .gitignore
Due: prettier --write --ignore-unknown

extend guidelines
  GUIDELINES.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

add enforce guidelines cursor rule
  .cursor/rules/enforce-guidelines.mdc
Due: prettier --write --ignore-unknown

add pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

fix link
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Fix typos / missing fields or broken mermaid diagrams for vouchers / promotions docs
  docs/developer/discounts/promotions.mdx
  docs/developer/discounts/vouchers.mdx
Due: prettier --write --ignore-unknown

code review adjustments
  docs/developer/bulks/bulk-attributes.mdx
  docs/developer/bulks/bulk-orders.mdx
  docs/developer/bulks/bulk-products.mdx
  docs/developer/bulks/bulk-stock.mdx
Due: prettier --write --ignore-unknown

Fix typos / missing fields or broken mermaid diagrams for vouchers / promotions docs (#1547)
  docs/developer/discounts/promotions.mdx
  docs/developer/discounts/vouchers.mdx
Due: prettier --write --ignore-unknown

Add bulk products, variants, stocks guide (#1539)
  docs/developer/bulks/bulk-attributes.mdx
  docs/developer/bulks/bulk-orders.mdx
  docs/developer/bulks/bulk-products.mdx
  docs/developer/bulks/bulk-stock.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

format guidelines according to guidelines
  GUIDELINES.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Extend "Writing Documentation" Guidelines (#1545)
  .cursor/rules/enforce-guidelines.mdc
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  GUIDELINES.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Add overview for bulk operations
  docs/developer/bulks/overview.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Rewrite the multi-market part of "why Saleor"
  cspell.json
  docs/cloud/saas-self-host.mdx
  docs/index.mdx
  docs/overview/why-saleor/composable.mdx
  docs/overview/why-saleor/extensibility.mdx
  docs/overview/why-saleor/graphql.mdx
  docs/overview/why-saleor/headless.mdx
  docs/overview/why-saleor/multi-market.mdx
  docs/overview/why-saleor/open-source.mdx
  docs/overview/why-saleor/saas-self-host.mdx
  docs/overview/why-saleor/scalable.mdx
  sidebars.js
  sidebars/cloud.js
  vercel.json
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Rewrite the multi-market part of "why Saleor" (#1550)
  cspell.json
  docs/cloud/saas-self-host.mdx
  docs/index.mdx
  docs/overview/why-saleor/composable.mdx
  docs/overview/why-saleor/extensibility.mdx
  docs/overview/why-saleor/graphql.mdx
  docs/overview/why-saleor/headless.mdx
  docs/overview/why-saleor/multi-market.mdx
  docs/overview/why-saleor/open-source.mdx
  docs/overview/why-saleor/saas-self-host.mdx
  docs/overview/why-saleor/scalable.mdx
  sidebars.js
  sidebars/cloud.js
  vercel.json
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Fix broken sidebar by deps pin
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --cache --fix: any of: *.{js,ts,tsx,jsx}
  prettier --write --ignore-unknown: any of: *
  cspell --no-must-find-files: any of: *.{ts,tsx,md,js,jsx}
