Repository saleor/saleor-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{js,ts,tsx,jsx}": "eslint --cache --fix",
  "*": "prettier --write --ignore-unknown",
  "*.{ts,tsx,md,js,jsx}": "cspell --no-must-find-files"
}

Change threshold to failure rate on diagram
  docs/developer/extending/webhooks/synchronous-events/circuit-breakers.mdx
Due: prettier --write --ignore-unknown

explain changes to status changes related to unapproved fulfillments
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

grammar correction
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Make it clear that Celery is not optional
  docs/developer/checkout/lifecycle.mdx
  docs/developer/discounts/promotions.mdx
  docs/developer/extending/webhooks/synchronous-events/transaction.mdx
  docs/developer/order/order-expiration.mdx
  docs/developer/payments/transactions.mdx
  docs/developer/running-saleor/task-queue.mdx
Due: prettier --write --ignore-unknown

Add a network diagram to self-hosting
  docs/setup/architecture.mdx
  docs/setup/docker-images.mdx
  sidebars/self-hosting.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add more Segment docs
  docs/developer/app-store/apps/segment/assets/customerio-mapping.jpg
  docs/developer/app-store/apps/segment/assets/customerio-workflow.jpg
  docs/developer/app-store/apps/segment/assets/segment-customerio-workflow.png
  docs/developer/app-store/apps/segment/configuration.mdx
  docs/developer/app-store/apps/segment/examples.mdx
  docs/developer/app-store/apps/segment/overview.mdx
  docs/developer/app-store/legacy-plugins/np-atobarai.mdx
  sidebars/app-store.js
  vercel.json
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Fix spelling and broken link
  components/Apps/Apps.jsx
  docs/developer/app-store/apps/segment/examples.mdx
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Make it clear that Celery is not optional (#1499)
  docs/developer/checkout/lifecycle.mdx
  docs/developer/discounts/promotions.mdx
  docs/developer/extending/webhooks/synchronous-events/transaction.mdx
  docs/developer/order/order-expiration.mdx
  docs/developer/payments/transactions.mdx
  docs/developer/running-saleor/task-queue.mdx
Due: prettier --write --ignore-unknown

Fix broken link
  docs/developer/app-store/apps/segment/configuration.mdx
Due: prettier --write --ignore-unknown

Add a network diagram to self-hosting (#1500)
  docs/setup/architecture.mdx
  docs/setup/docker-images.mdx
  sidebars/self-hosting.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Small fixes for style consistency and clarification
  docs/developer/checkout/api-guide.mdx
  docs/developer/products/api.mdx
Due: prettier --write --ignore-unknown

explain removing cases when order was getting confirmed by side effects
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Update code based on review
  docs/developer/app-store/apps/segment/examples.mdx
Due: prettier --write --ignore-unknown

Small fixes for style consistency and clarification (#1502)
  docs/developer/checkout/api-guide.mdx
  docs/developer/products/api.mdx
Due: prettier --write --ignore-unknown

Add more Segment docs (#1501)
  components/Apps/Apps.jsx
  docs/developer/app-store/apps/segment/assets/customerio-mapping.jpg
  docs/developer/app-store/apps/segment/assets/customerio-workflow.jpg
  docs/developer/app-store/apps/segment/assets/segment-customerio-workflow.png
  docs/developer/app-store/apps/segment/configuration.mdx
  docs/developer/app-store/apps/segment/examples.mdx
  docs/developer/app-store/apps/segment/overview.mdx
  docs/developer/app-store/legacy-plugins/np-atobarai.mdx
  sidebars/app-store.js
  vercel.json
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

update contributing according to new policy
  docs/developer/community/contributing.mdx
Due: prettier --write --ignore-unknown

grammar change
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Circuit breaker feature (#1476)
  docs/api-reference/apps/enums/circuit-breaker-state-enum.mdx
  docs/api-reference/apps/mutations/app-reenable-sync-webhooks.mdx
  docs/api-reference/apps/objects/app-error.mdx
  docs/api-reference/apps/objects/app-reenable-sync-webhooks.mdx
  docs/api-reference/apps/objects/app.mdx
  docs/api-reference/miscellaneous/inputs/metadata-input.mdx
  docs/api-reference/miscellaneous/scalars/id.mdx
  docs/api-reference/orders/inputs/draft-order-create-input.mdx
  docs/api-reference/orders/inputs/draft-order-input.mdx
  docs/developer/extending/webhooks/synchronous-events/circuit-breakers.mdx
  docs/setup/configuration.mdx
  sidebars/extending.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Update contributing document to clarify guidelines and processes for contributions
  docs/developer/community/contributing.mdx
Due: prettier --write --ignore-unknown

Update contributing according to new policy (#1503)
  docs/developer/community/contributing.mdx
Due: prettier --write --ignore-unknown

remove rejected change
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

migration guide to v1
  docs/developer/extending/apps/developing-apps/app-sdk/migration-0.x-to-1.x.mdx
  sidebars/building-apps.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

link examples
  docs/developer/extending/apps/developing-apps/app-examples.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/apl.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/migration-0.x-to-1.x.mdx
Due: prettier --write --ignore-unknown

Update docs to relect v1
  docs/developer/extending/apps/developing-apps/app-sdk/api-handlers.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/apl.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/migration-0.x-to-1.x.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/overview.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/protected-handlers.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/saleor-webhook.mdx
Due: prettier --write --ignore-unknown

update docs
  docs/developer/extending/apps/developing-apps/app-sdk/migration-0.x-to-1.x.mdx
Due: prettier --write --ignore-unknown

cr fixes
  docs/developer/extending/apps/developing-apps/app-sdk/api-handlers.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/migration-0.x-to-1.x.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/overview.mdx
Due: prettier --write --ignore-unknown

fix build
  docs/developer/extending/apps/developing-apps/app-sdk/api-handlers.mdx
Due: prettier --write --ignore-unknown

improve docs
  docs/developer/extending/apps/developing-apps/app-sdk/saleor-webhook.mdx
Due: prettier --write --ignore-unknown

fix cspell
  cspell.json
Due: prettier --write --ignore-unknown

App-sdk v1 docs (#1490)
  cspell.json
  docs/developer/extending/apps/developing-apps/app-examples.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/api-handlers.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/apl.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/migration-0.x-to-1.x.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/overview.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/protected-handlers.mdx
  docs/developer/extending/apps/developing-apps/app-sdk/saleor-webhook.mdx
  sidebars/building-apps.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

docs: add notice to not store sensitive data in metadata
  docs/api-usage/metadata.mdx
Due: prettier --write --ignore-unknown

Add the information about thumbnail cache
  docs/developer/thumbnails.mdx
Due: prettier --write --ignore-unknown

docs: add notice to not store sensitive data in metadata (#1504)
  docs/api-usage/metadata.mdx
Due: prettier --write --ignore-unknown

Add docker-compose for running locally
  Dockerfile
  README.md
  docker-compose.yaml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Add info about audience
  docs/api-usage/authentication.mdx
  docs/developer/app-store/plugins/oidc.mdx
Due: prettier --write --ignore-unknown

Update upgrade guides for removing method for manager
  docs/upgrade-guides/core/3-20-to-3-21.mdx
Due: prettier --write --ignore-unknown

Add info about all possible scopes for OAuth
  docs/developer/app-store/plugins/oidc.mdx
Due: prettier --write --ignore-unknown

Add info about all possible scopes for OAuth (#1510)
  docs/developer/app-store/plugins/oidc.mdx
Due: prettier --write --ignore-unknown

Fix required conditions for audience
  docs/api-usage/authentication.mdx
  docs/developer/app-store/plugins/oidc.mdx
Due: prettier --write --ignore-unknown

add oidc plugin reference
  docs/api-usage/authentication.mdx
Due: prettier --write --ignore-unknown
