Repository saleor/saleor-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{js,ts,tsx,jsx}": "eslint --cache --fix",
  "*": "prettier --write --ignore-unknown",
  "*.{ts,tsx,md,js,jsx}": "cspell --no-must-find-files"
}

Exclude .json files from cspell check
  .github/workflows/check-spelling.yml
Due: prettier --write --ignore-unknown

Add changelog for upcoming Adyen app change (#1402)
  docs/developer/app-store/apps/adyen/migration-guides.mdx
Due: prettier --write --ignore-unknown

Include environment variable ALL_PROXY
  docs/security/index.mdx
Due: prettier --write --ignore-unknown

remove test button
  package-lock.json
  package.json
  src/theme/Layout/index.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

remove not needed change
  package.json
Due: prettier --write --ignore-unknown

fix: invalid anchor to docusaurus section in README.md
  README.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Fix build errors on container volumes (#1404)
  .github/workflows/check-spelling.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: invalid anchor to docusaurus section in README.md (#1406)
  README.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Bring back Sentry to docs (#1368)
  docusaurus.config.js
  package-lock.json
  package.json
  src/theme/DocSidebar/index.js
  src/theme/Layout/index.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add paragraph about manual discount deletion in combination with vouchers (#1399)
  docs/developer/discounts/manual-discounts.mdx
Due: prettier --write --ignore-unknown

Add copies of licenses
  LICENSE
  LICENSES/Lucide-LICENSE.txt
Due: prettier --write --ignore-unknown

Add copies of licenses (#1407)
  LICENSE
  LICENSES/Lucide-LICENSE.txt
Due: prettier --write --ignore-unknown

Add feedback icon and move things around in sidebar
  components/Icons/icons.jsx
  docusaurus.config.js
  sidebars.js
  src/css/components/navbar.css
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add release notes
  docs/developer/app-store/apps/adyen/migration-guides.mdx
Due: prettier --write --ignore-unknown

Add link to Adyen docs
  docs/developer/app-store/apps/adyen/migration-guides.mdx
Due: prettier --write --ignore-unknown

Add Adyen 1.4.3 release ntoes (#1409)
  docs/developer/app-store/apps/adyen/migration-guides.mdx
Due: prettier --write --ignore-unknown

Update search bar size and location on navbar
  src/css/components/navbar.css
  src/css/components/search.css
Due: prettier --write --ignore-unknown

Add utms to the navbar links
  docusaurus.config.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add docs about storing users cards
  docs/developer/app-store/apps/adyen/storefront.mdx
Due: prettier --write --ignore-unknown

explaing eager and lazy prices recalculations and affected fields
  docs/developer/checkout/performance.mdx
Due: prettier --write --ignore-unknown

Extend Transaction event types section with _ACTION_REQUIRED events
  docs/developer/payments/lifecycle.mdx
Due: prettier --write --ignore-unknown

Update references for events in TransactionItem and TransactionEvents pspReference Matching section
  docs/developer/payments/transactions.mdx
Due: prettier --write --ignore-unknown

add diagram
  docs/developer/checkout/performance.mdx
Due: prettier --write --ignore-unknown

Add docs about storing users cards (#1413)
  docs/developer/app-store/apps/adyen/storefront.mdx
Due: prettier --write --ignore-unknown

Add workflow to check licenses
  .github/workflows/check-licenses.yaml
Due: prettier --write --ignore-unknown

improve description
  docs/developer/payments/lifecycle.mdx
Due: prettier --write --ignore-unknown

Add danger section to `alreadyProcessed` docs
  docs/developer/payments/transactions.mdx
Due: prettier --write --ignore-unknown

Authorize and charge status improvements
  docs/developer/payments/lifecycle.mdx
Due: prettier --write --ignore-unknown

WIP: mental model
  docs/developer/payments/lifecycle.mdx
Due: prettier --write --ignore-unknown

Update Cancel events payment lifecycle docs
  docs/developer/payments/lifecycle.mdx
Due: prettier --write --ignore-unknown

cr fixes
  docs/developer/checkout/performance.mdx
Due: prettier --write --ignore-unknown

fix build
  docs/developer/checkout/performance.mdx
Due: prettier --write --ignore-unknown

document sensitive adyen data
  docs/developer/app-store/apps/adyen/overview.mdx
Due: prettier --write --ignore-unknown

Add page about transaction item amount calculations
  docs/developer/payments/price-calculations.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Add section about total balance calculations
  docs/developer/payments/price-calculations.mdx
Due: prettier --write --ignore-unknown

Add support for PR label events
  .github/workflows/check-licenses.yaml
Due: prettier --write --ignore-unknown

Add workflow to check licenses (#1414)
  .github/workflows/check-licenses.yaml
Due: prettier --write --ignore-unknown

Add task queue section
  docs/developer/discounts/promotions.mdx
  docs/developer/running-saleor/task-queue.mdx
  package-lock.json
  sidebars/self-hosting.js
  vercel.json
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files
