Repository saleor/saleor-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

change to pnpm
  .github/workflows/test.yml
  .github/workflows/update-api-reference.yml
  .github/workflows/update-cli-docs.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

fix build
  .npmrc
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown

Add upgrade guide steps for introducing bulk delete limit in version 3.24
  docs/upgrade-guides/core/3-23-to-3-24.mdx
Due: prettier --write --ignore-unknown

Add upgrade guide steps for introducing bulk delete limit in version 3.24 (#1794)
  docs/upgrade-guides/core/3-23-to-3-24.mdx
Due: prettier --write --ignore-unknown

Explain uneasy relation between staff and customers (#1792)
  docs/api-usage/authentication.mdx
  docs/developer/users/customer-management.mdx
  docs/developer/users/overview.mdx
  docs/developer/users/staff-users.mdx
  docs/developer/users/user-model.mdx
  sidebars/core-concepts.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

App Dashboard Widgets: Resizing and related App Bridge actions
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
  docs/developer/extending/apps/extending-dashboard-with-apps.mdx
  docs/recipes/extending-dashboard.mdx
Due: prettier --write --ignore-unknown

Update docs for widget resizing with App Bridge action
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
  docs/developer/extending/apps/extending-dashboard-with-apps.mdx
Due: prettier --write --ignore-unknown

Address feedback
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
Due: prettier --write --ignore-unknown

Update docs/developer/extending/webhooks/payload-signature.mdx
  docs/developer/extending/webhooks/payload-signature.mdx
Due: prettier --write --ignore-unknown

fix dead links
  docs/developer/extending/apps/developing-apps/app-template.mdx
  docs/developer/extending/apps/quickstart.mdx
  docs/developer/extending/overview.mdx
  docs/developer/extending/webhooks/overview.mdx
  docs/setup/quickstart.mdx
Due: prettier --write --ignore-unknown

Apply suggestions from code review
  docs/developer/extending/apps/developing-apps/app-template.mdx
  docs/setup/quickstart.mdx
Due: prettier --write --ignore-unknown

Remove legacy CLI docs (#1791)
  docs/cli/commands/app.mdx
  docs/cli/commands/backup.mdx
  docs/cli/commands/environment.mdx
  docs/cli/commands/example.mdx
  docs/cli/commands/github.mdx
  docs/cli/commands/info.mdx
  docs/cli/commands/job.mdx
  docs/cli/commands/login.mdx
  docs/cli/commands/logout.mdx
  docs/cli/commands/open.mdx
  docs/cli/commands/organization.mdx
  docs/cli/commands/project.mdx
  docs/cli/commands/register.mdx
  docs/cli/commands/status.mdx
  docs/cli/commands/storefront.mdx
  docs/cli/commands/task.mdx
  docs/cli/commands/telemetry.mdx
  docs/cli/commands/trigger.mdx
  docs/cli/commands/vercel.mdx
  docs/cli/commands/webhook.mdx
  docs/cli/overview.mdx
  docs/developer/extending/apps/developing-apps/app-template.mdx
  docs/developer/extending/apps/quickstart.mdx
  docs/developer/extending/overview.mdx
  docs/developer/extending/webhooks/overview.mdx
  docs/developer/extending/webhooks/payload-signature.mdx
  docs/setup/quickstart.mdx
Due: prettier --write --ignore-unknown

App Dashboard Widgets: Resizing and related App Bridge actions (#1795)
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
  docs/developer/extending/apps/extending-dashboard-with-apps.mdx
  docs/recipes/extending-dashboard.mdx
Due: prettier --write --ignore-unknown

anonymizer app docs
  cspell.json
  docs/developer/app-store/apps/anonymizer.mdx
  sidebars/extensions.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Anonymizer docs: checkout and gift card erasure
  docs/developer/app-store/apps/anonymizer.mdx
Due: prettier --write --ignore-unknown

fix cspell
  cspell.json
Due: prettier --write --ignore-unknown

anonymizer app docs (#1797)
  cspell.json
  docs/developer/app-store/apps/anonymizer.mdx
  sidebars/extensions.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Apply suggestions from code review
  .github/workflows/update-api-reference.yml
  .github/workflows/update-cli-docs.yml
  package.json
Due: prettier --write --ignore-unknown

Switch Vercel, devcontainer, and README to pnpm
  .devcontainer/Dockerfile
  README.md
  vercel.json
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Address PR review: fix devcontainer Docker build and Vercel install
  .devcontainer/Dockerfile
  vercel.json
Due: prettier --write --ignore-unknown

change to pnpm (#1793)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .github/workflows/update-api-reference.yml
  .github/workflows/update-cli-docs.yml
  .npmrc
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vercel.json
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Document clearing orders in cloud env
  docs/cloud/environment.mdx
Due: prettier --write --ignore-unknown

Document clearing orders in cloud env (#1798)
  docs/cloud/environment.mdx
Due: prettier --write --ignore-unknown

Minor improvements, remove spec file
  docs/developer/payments/refunds.mdx
  refund-reasons-spec.md
Due: prettier --write --ignore-unknown, cspell --no-must-find-files

Apply suggestions from code review
  docs/developer/payments/refunds.mdx
Due: prettier --write --ignore-unknown

Remove comments
  docs/developer/payments/refunds.mdx
Due: prettier --write --ignore-unknown

Document RefreshEntity App Bridge action
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
Due: prettier --write --ignore-unknown

Document RefreshEntity App Bridge action (#1799)
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
Due: prettier --write --ignore-unknown

Document refund reason references for returns and per-line grant refunds (#1744)
  docs/developer/payments/refunds.mdx
Due: prettier --write --ignore-unknown

Document OpenPopup App Bridge action and extension identifier
  docs/developer/extending/apps/developing-apps/app-sdk/app-bridge.mdx
  docs/developer/extending/apps/extending-dashboard-with-apps.mdx
Due: prettier --write --ignore-unknown

Document Onboarding app
  docs/developer/app-store/apps/onboarding.mdx
  sidebars/extensions.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Document Onboarding app (#1801)
  docs/developer/app-store/apps/onboarding.mdx
  sidebars/extensions.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Document Translation Agent app
  cspell.json
  docs/developer/app-store/apps/translation-agent/configuration.mdx
  docs/developer/app-store/apps/translation-agent/overview.mdx
  sidebars/extensions.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Collapse Translation Agent docs into a single page
  docs/developer/app-store/apps/translation-agent.mdx
  docs/developer/app-store/apps/translation-agent/configuration.mdx
  docs/developer/app-store/apps/translation-agent/overview.mdx
  sidebars/extensions.js
Due: eslint --cache --fix, prettier --write --ignore-unknown, cspell --no-must-find-files

Simplify Setup and document approval-workflow metadata
  docs/developer/app-store/apps/translation-agent.mdx
Due: prettier --write --ignore-unknown

Document HOMEPAGE_WIDGETS mount for home page widgets
  docs/developer/extending/apps/extending-dashboard-with-apps.mdx
Due: prettier --write --ignore-unknown

Document HOMEPAGE_WIDGETS mount for home page widgets (#1803)
  docs/developer/extending/apps/extending-dashboard-with-apps.mdx
Due: prettier --write --ignore-unknown

fix(stripe): update permission names
  docs/developer/app-store/apps/stripe/configuration.mdx
Due: prettier --write --ignore-unknown

fix(stripe): update permission names (#1804)
  docs/developer/app-store/apps/stripe/configuration.mdx
Due: prettier --write --ignore-unknown

docs(gift-cards): document customer assignment and balance adjustment
  cspell.json
  docs/developer/gift-cards.mdx
Due: prettier --write --ignore-unknown

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --cache --fix: any of: *.{js,ts,tsx,jsx}
  prettier --write --ignore-unknown: any of: *
  cspell --no-must-find-files: any of: *.{ts,tsx,md,js,jsx}
